* {
  box-sizing: border-box;
}

html, body {
  background-color: #f5f5f5;
}

.title_logo {
  font-size: 3em;
  font-family: "Lora", serif;
}

.wrap {
  margin-top: 3em;
  padding: 20px;
  text-align: center;
}

.input {
  max-width: 180px;
}

.row {
  list-style: none;
  background-color: #e9e5e5;
}

a {
  text-decoration: none;
}

p {
  color: #272727;
  line-height: 1.5;
  padding: 10px;
  font-family: "Helvetica", sans-serif;
}

.title {
  font-size: 1.6em;
  color: #053b69;
  margin-bottom: 0.3em;
  padding-left: 10px;
  padding-top: 5px;
  transition: 0.2s ease-in-out;
}

.title:hover {
  color: #2a8cc4;
}

#loadingText {
  display: none;
  text-align: center;
  margin: 2em 0;
}

#addPost {
  text-align: center;
}

@media screen and (min-width: 800px) {
  .title_logo {
    font-size: 6.2em;
  }
  .widthTwenty {
    max-width: 100px;
  }

  .input {
    background-color: inherit;
    outline: none;
    margin: 1em 0;
    padding: 0.3em;
    line-height: 1.2;
    width: 15em;
    font-family: "Roboto", sans-serif;
    font-size: 1.112em;
  }

  .searchBtn {
    background: none;
    border: none;
    outline: none;
    font-size: 1.7em;
    transition: 0.2s ease-in-out;
  }

  .searchBtn:hover {
    cursor: pointer;
    transform: scale(1.2);
  }

  .title {
    font-size: 2em;
    padding-top: 0.5em;
    padding-left: 0.3em;
    padding-right: 0.3em;
  }

  p {
    padding-bottom: 1em;
  }

  #output {
    margin: 5em 7em;
    padding: 0;
  }
}
